{% extends 'base.html' %}

{% block content %}

<section class="hero-section">

    <div class="hero-overlay"></div>

    <div class="hero-content">

        <h1>
            LA ESTACION <br>
            FOOTBALL CLUB
        </h1>

        <p>
            Vive la pasión del fútbol en la cancha más moderna,
            competitiva y emocionante de La Romana.
        </p>

        <div class="hero-buttons">

            <a href="/inscripcion" class="btn btn-danger btn-lg">
                Inscribirse
            </a>

            <a href="/calendario" class="btn btn-outline-light btn-lg">
                Ver Calendario
            </a>

        </div>

    </div>

</section>

{% endblock %}